body {
  background-image: url("https://imgs.search.brave.com/LDgeW1Cd9xKOV_uLBCueVk7FNSDyJ0h1D69OOJdURhs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAzLzg3LzI2LzIw/LzM2MF9GXzM4NzI2/MjAyNF9EVDdMYWRF/T2tKb1pud05zekJi/bUZKUXhYTHgxdzZx/MC5qcGc");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
